<a href="https://colab.research.google.com/github/GiannaSal/phase-2-project/blob/charity/updated_data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Zipped Data Review (Data Cleaning)

Below are the list of available zipped databases:
1. Box Office Mojo (bom.movie_gross.csv.gz)
2. IMDB (im.db.zip)
3. Rotten Tomatoes info (rt.movie_info.tsv.gz)
4. Rotten Tomatoes reviews (rt.reviews.tsv.gz)
5. The Movie Database (tmdb.movies.csv.gz)
6. The Numbers (tn.movie_budgets.csv.gz)

## 1. <u>Box Office Mojo</u>

In [29]:
# Iporting the required libraries
import pandas as pd

# Loading the bom movie gross dataset
df_bom = pd.read_csv('/content/bom.movie_gross.csv.gz')
print(df_bom.shape)
print(df_bom.columns)

(3387, 5)
Index(['title', 'studio', 'domestic_gross', 'foreign_gross', 'year'], dtype='object')

In [30]:
# Review the columns number and types of the table
df_bom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [31]:
# Summary of the raw data
df_bom.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

## 2. <u>IMDB Data Review</u>

In [32]:
import sqlite3
import pandas as pd
import os

# Create a directory for unzipped data if it doesn't exist
os.makedirs('unzippedData', exist_ok=True)

# Connect to the SQLite database assuming it's named 'im.db' directly
conn = sqlite3.connect('/content/im.db')

# view the list of tables in the database
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)

print("Tables:", tables)

Tables: Empty DataFrame
Columns: [name]
Index: []

In [33]:
# Looping through each table name found above
for table_name in tables['name']:
    print("\n"f"--- Table: {table_name} ---")

    # 1. Get the number of rows (SELECT count(*))
    query_count = f"SELECT count(*) as count FROM {table_name}"
    df_count = pd.read_sql(query_count, conn)
    row_count = df_count.iloc[0]['count']
    print(f"Row Count: {row_count}")

    # 2. Get the column info (PRAGMA table_info matches the table schema)
    query_info = f"PRAGMA table_info({table_name})"
    df_info = pd.read_sql(query_info, conn)

    # Display just the column name and data type
    print("Columns:")
    print(df_info[['name', 'type']].to_string())
    print("\n" + "="*30 + "\n")

In [34]:
# Read columns within the Table: 'Movie_Basics' to check the structure
df_basics = pd.read_sql("SELECT * FROM movie_basics", conn)

# View columns and types
print(df_basics.info())

# View raw data
df_basics.head()

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': no such table: movie_basics

In [ ]:
# Read columns within the Table: 'Directors' to check the structure
df_directors = pd.read_sql("SELECT * FROM directors", conn)

# View columns and types
print(df_directors.info())

# View raw data
df_directors.head()

In [ ]:
# Read columns within the Table: 'known_for' to check the structure
df_known_for = pd.read_sql("SELECT * FROM known_for", conn)

# View columns and types
print(df_known_for.info())

# View raw data
df_known_for.head()

In [ ]:
# Read columns within the Table: 'movie_akas' to check the structure
df_movie_akas = pd.read_sql("SELECT * FROM movie_akas", conn)

# View columns and types
print(df_movie_akas.info())

# View raw data
df_movie_akas.head()

In [ ]:
# Read columns within the Table: 'movie_ratings' to check the structure
df_movie_ratings = pd.read_sql("SELECT * FROM movie_ratings", conn)

# View columns and types
print(df_movie_ratings.info())

# View raw data
df_movie_ratings.head()

In [ ]:
# Read columns within the Table: 'persons' to check the structure
df_persons = pd.read_sql("SELECT * FROM persons", conn)

# View columns and types
print(df_persons.info())

# View raw data
df_persons.head()

In [ ]:
# Read columns within the Table: 'principals' to check the structure
df_principals = pd.read_sql("SELECT * FROM principals", conn)

# View columns and types
print(df_principals.info())

# View raw data
df_principals.head()

In [ ]:
# Read columns within the Table: 'writers' to check the structure
df_writers = pd.read_sql("SELECT * FROM writers", conn)

# View columns and types
print(df_writers.info())

# View raw data
df_writers.head()

## 3. <u>Rotten Tomatoes Info</u>

In [ ]:
# Read the RT movie info file and display the available columns
df_rt_info = pd.read_csv('zippedData/rt.movie_info.tsv.gz', delimiter='\t')
print(df_rt_info.shape)
print(df_rt_info.columns)

In [ ]:
# Review the columns number, rows number and column types of the Dataset
df_rt_info.info()

In [ ]:
#Summary of the Raw Data
df_rt_info.head()

## 4. <u>Rotten Tomatoes</u>

In [ ]:
# Read the RT reviews file and display the available columns
df_rt = pd.read_csv('zippedData/rt.reviews.tsv.gz', delimiter='\t', encoding='latin-1')
print(df_rt.shape)
print(df_rt.columns)

In [ ]:
# Review the columns number, rows number and column types of the Dataset
df_rt.info()

In [ ]:
# Summary of the Raw Data
df_rt.head()

## 5. <u>The Movie DB</u>

In [ ]:
# Read the tmdb file and display the available columns
df_tmdb = pd.read_csv('zippedData/tmdb.movies.csv.gz')
print(df_tmdb.shape)
print(df_tmdb.columns)

In [ ]:
# Review the columns number, rows number and column types of the Dataset
df_tmdb.info()

In [ ]:
# Summary of the Raw Data
df_tmdb.head()

## 6. <u>The Numbers</u>

In [ ]:
# Read the tn movie budgets file and display the available columns
df_tn = pd.read_csv('zippedData/tn.movie_budgets.csv.gz')
print(df_tn.shape)
print(df_tn.columns)

In [ ]:
# Review the columns number, rows number and column types of the Dataset
df_tn.info()

In [ ]:
# Summary of the Raw Data
df_tn.head()

## 7. Data Cleaning

This section cleans the columns needed to answer the business question: **genre**, **year**, and **box office earnings**.

In [ ]:
# Import additional libraries used for cleaning and plotting
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

# Keep plots readable
sns.set_theme()

### 7.1 Column checks and missing values

The earnings data comes from **Box Office Mojo** (`df_bom`), while genre data comes from **IMDb movie basics** (`df_basics`). These two sources must be merged to connect earnings to genres.

In [ ]:
# Check relevant columns and missing values (Box Office Mojo)
bom_cols = ['title', 'year', 'domestic_gross', 'foreign_gross']
df_bom[bom_cols].isna().sum()

In [ ]:
# Check relevant columns and missing values (IMDb movie basics)
imdb_cols = ['primary_title', 'start_year', 'genres']
df_basics[imdb_cols].isna().sum()

In [ ]:
# Confirm the year coverage in the box office dataset
df_bom['year'].describe()

### 7.2 Clean year and earnings

- Ensures `year` is numeric and usable.
- Ensures earnings fields are numeric.
- Creates one earnings column for analysis.

In [ ]:
# Ensure year is numeric
df_bom['year'] = pd.to_numeric(df_bom['year'], errors='coerce')

# Ensure gross columns are numeric
df_bom['domestic_gross'] = pd.to_numeric(df_bom['domestic_gross'], errors='coerce')
df_bom['foreign_gross'] = pd.to_numeric(df_bom['foreign_gross'], errors='coerce')

# Total earnings (domestic + foreign)
df_bom['earnings'] = df_bom[['domestic_gross', 'foreign_gross']].sum(axis=1, min_count=1)

# Keep rows with valid year and earnings
df_bom_clean = df_bom.dropna(subset=['year', 'earnings']).copy()
df_bom_clean['year'] = df_bom_clean['year'].astype(int)

# Reset index after filtering
df_bom_clean = df_bom_clean.reset_index(drop=True)

df_bom_clean[['title', 'year', 'earnings']].head()

### 7.3 Clean IMDb basics

- Ensures `start_year` is numeric.
- Ensures `genres` exists.
- Keeps only the columns needed for merging and genre analysis.

In [ ]:
# Ensure start_year is numeric
df_basics['start_year'] = pd.to_numeric(df_basics['start_year'], errors='coerce')

# Keep rows with valid year and genres
df_imdb_clean = df_basics.dropna(subset=['start_year', 'genres', 'primary_title']).copy()
df_imdb_clean['start_year'] = df_imdb_clean['start_year'].astype(int)

# Keep only columns needed downstream
df_imdb_clean = df_imdb_clean[['movie_id', 'primary_title', 'start_year', 'genres']].copy()

# Reset index after filtering
df_imdb_clean = df_imdb_clean.reset_index(drop=True)

df_imdb_clean.head()

### 7.4 Create merge keys and merge datasets

To match titles across sources, titles are normalized into a `clean_title` key.

- Removes the trailing year in parentheses (e.g., `"(2010)"`).
- Normalizes punctuation/spaces.
- Uses `clean_title` + `year` as the merge key.

In [ ]:
# Helper function to normalize titles into a merge key
def clean_title(title):
    if pd.isna(title):
        return np.nan

    t = str(title)
    # Remove trailing year in parentheses: "Title (2010)" -> "Title"
    t = re.sub(r"\s*\(\d{4}\)\s*$", "", t)
    # Align common differences
    t = t.replace("&", "and")
    # Keep alphanumeric characters and spaces only
    t = re.sub(r"[^0-9a-zA-Z]+", " ", t)
    # Normalize spacing and case
    t = re.sub(r"\s+", " ", t).strip().lower()
    return t

# Create clean title keys
df_bom_clean['clean_title'] = df_bom_clean['title'].map(clean_title)
df_imdb_clean['clean_title'] = df_imdb_clean['primary_title'].map(clean_title)

# Merge: earnings (BOM) + genres (IMDb)
df_merged = df_bom_clean.merge(
    df_imdb_clean,
    left_on=['clean_title', 'year'],
    right_on=['clean_title', 'start_year'],
    how='inner'
)

# Keep a tidy merged dataset
df_merged = df_merged[['title', 'year', 'earnings', 'movie_id', 'primary_title', 'genres']].copy()

# Reset index after merge
df_merged = df_merged.reset_index(drop=True)

df_merged.head()

In [ ]:
# Merge coverage check
bom_rows = df_bom_clean.shape[0]
merged_rows = df_merged.shape[0]
match_rate = merged_rows / bom_rows

pd.DataFrame({
    'dataset': ['df_bom_clean', 'df_merged'],
    'rows': [bom_rows, merged_rows]
}).assign(match_rate_to_bom=[np.nan, match_rate])

## 8. Analysis: Which Genre Consistently Earns the Most?

**Definition used here:** a genre is “consistent” if it ranks #1 (or among the top) in most years and its yearly earnings are high with relatively low variance.

**Important note on multi-genre movies:** IMDb genres are multi-label (a movie can belong to multiple genres). If earnings are summed across genres without adjustment, multi-genre movies get counted multiple times. To avoid this, this analysis allocates each movie’s earnings equally across its genres (e.g., a 3-genre movie contributes 1/3 of its earnings to each genre).

In [35]:
# Split genres and create one row per (movie, genre)
df_merged = df_merged.dropna(subset=['genres', 'earnings', 'year']).copy()

df_merged['genres_list'] = df_merged['genres'].str.split(',')
df_merged['n_genres'] = df_merged['genres_list'].str.len()

# Explode into long format
df_long = df_merged.explode('genres_list').rename(columns={'genres_list': 'genre'}).copy()

# Allocate earnings to avoid double-counting across genres
df_long['earnings_allocated'] = df_long['earnings'] / df_long['n_genres']

# Basic checks
df_long[['title', 'year', 'genre', 'earnings', 'earnings_allocated']].head()

NameError: name 'df_merged' is not defined

In [ ]:
# Total yearly earnings per genre (allocated)
yearly_genre_earnings = (
    df_long
    .groupby(['year', 'genre'], as_index=False)['earnings_allocated']
    .sum()
    .rename(columns={'earnings_allocated': 'yearly_earnings'})
)

# Rank genres by yearly earnings within each year (1 = highest)
yearly_genre_earnings['rank'] = yearly_genre_earnings.groupby('year')['yearly_earnings']     .rank(method='dense', ascending=False)

yearly_genre_earnings.sort_values(['year', 'rank']).head(15)

In [ ]:
# Count how many years each genre is ranked #1 and in the top 3
years_rank1 = (
    yearly_genre_earnings[yearly_genre_earnings['rank'] == 1]
    .groupby('genre')['year']
    .nunique()
    .rename('years_rank1')
)

years_top3 = (
    yearly_genre_earnings[yearly_genre_earnings['rank'] <= 3]
    .groupby('genre')['year']
    .nunique()
    .rename('years_top3')
)

# Mean and standard deviation of yearly earnings per genre
genre_stats = (
    yearly_genre_earnings
    .groupby('genre')['yearly_earnings']
    .agg(mean_yearly='mean', std_yearly='std', years_present='count')
)

# Combine into one summary table
genre_summary = (
    genre_stats
    .join(years_rank1, how='left')
    .join(years_top3, how='left')
    .fillna(0)
    .reset_index()
)

# Coefficient of variation (lower = more stable relative to mean)
genre_summary['cv'] = genre_summary['std_yearly'] / genre_summary['mean_yearly']

# Sort: most #1 years, then most top-3 years, then highest mean
genre_summary_sorted = genre_summary.sort_values(
    ['years_rank1', 'years_top3', 'mean_yearly'],
    ascending=[False, False, False]
)

genre_summary_sorted.head(10)

In [ ]:
# Identify the most consistent high-earning genres
# Rule of thumb used here:
# - Prioritize years_rank1 and years_top3
# - Prefer high mean_yearly and relatively low cv

top_consistent = genre_summary_sorted.head(8).copy()
top_consistent

### 8.1 Visualization: Years ranked #1 by genre

In [ ]:
# Bar plot: number of years each genre ranked #1
rank1_counts = genre_summary.set_index('genre')['years_rank1'].sort_values(ascending=False)

plt.figure(figsize=(10, 5))
rank1_counts.plot(kind='bar')
plt.ylabel('Number of Years Ranked #1')
plt.title('Genres Ranked #1 by Yearly Earnings (Allocated)')
plt.tight_layout()
plt.show()

### 8.2 Visualization: Yearly earnings trend for top genres

In [ ]:
# Choose a small set of top genres for trend plotting
top_genres_for_trend = genre_summary_sorted['genre'].head(5).tolist()

trend_df = yearly_genre_earnings[yearly_genre_earnings['genre'].isin(top_genres_for_trend)].copy()

plt.figure(figsize=(10, 5))
for g in top_genres_for_trend:
    sub = trend_df[trend_df['genre'] == g].sort_values('year')
    plt.plot(sub['year'], sub['yearly_earnings'], marker='o', label=g)

plt.ylabel('Yearly Earnings (Allocated)')
plt.title('Yearly Earnings Trend for Top Genres')
plt.legend()
plt.tight_layout()
plt.show()

### 8.3 Visualization: Distribution of yearly earnings by genre

In [ ]:
# Boxplot: distribution of yearly earnings by genre
# Limit to top genres to keep the plot readable
top_genres_for_box = genre_summary_sorted['genre'].head(10).tolist()
box_df = yearly_genre_earnings[yearly_genre_earnings['genre'].isin(top_genres_for_box)].copy()

plt.figure(figsize=(12, 6))
sns.boxplot(data=box_df, x='genre', y='yearly_earnings')
plt.xticks(rotation=45, ha='right')
plt.ylabel('Yearly Earnings (Allocated)')
plt.title('Distribution of Yearly Earnings for Top Genres')
plt.tight_layout()
plt.show()

## 9. Findings and Actionable Recommendations

### What the data shows (2010–2018)

- **Adventure** is the most consistent top-earning genre in this dataset: it ranks **#1 in most years** and also shows **high average yearly earnings with relatively low variability**.
- **Action** becomes the top genre in the most recent years in this dataset and remains a frequent top-3 performer.
- Other genres (e.g., **Comedy**, **Animation**) show stability but typically sit below Adventure/Action in yearly earnings.

### Recommendations for the new studio

1. **Lead with Adventure-style tentpoles:** prioritize franchise-friendly, broad-audience stories (often overlapping with Action/Sci‑Fi/Fantasy).
2. **Build for repeatability:** plan releases with sequel potential, world-building, and recognizable IP development to support compounding returns.
3. **Balance the slate:** complement tentpoles with lower-budget genre bets (e.g., Comedy, Animation) to spread risk and stabilize cashflow between major releases.

### Method note

- Movies can have multiple genres in IMDb. To prevent artificial inflation from multi-genre counting, earnings are allocated equally across each movie’s genres before summing by genre-year.